.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
  font-size: 14px;
}

label {
  font-weight: bold;
}

.field {
  outline: none;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
}

.field:focus {
  border: 1px solid blue;
}
